.team-container {
    display: flex;
}
.player-profile {
    width: 60%;
    margin-left: 20px;
    margin-right: 5px;
    padding-right: 10px;
    padding-bottom: 20px;
    border-right: 1px solid rgb(211, 209, 209);
}